<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/client.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>404</p>
        <p></p>{{error_message}}</p>
        </div>
        {{>footer}}
    </body>
</html>