<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/client.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="avatar_img" src="/images/avatar.png">
        <p>I am a Full Stack Software Developer</p>
        </div>
        {{>footer}}
    </body>
</html>